.container{
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 22em;
    min-height: 5em;
    background-color: rgb(255, 255, 229);
    text-align: left;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    border: 2px solid green;
}
.card {
    /* Your default styles for the card */
    /* ... */
    transition: background-color 0.3s; /* Adding transition for a smooth effect */
  }
  
  /* Styling for 'Easy' */
  .card#Easy:hover {
    background-color: rgb(157, 255, 157);
  }
  
  /* Styling for 'Medium' */
  .card#Medium:hover {
    background-color: rgb(255, 241, 165);
  }
  
  /* Styling for 'Hard' */
  .card#Hard:hover {
    background-color: rgb(255, 172, 172);
  }
.card .content{
    width: 100%;
    padding: 0.7em;
    min-height: 100%;
}
.card .content h5{
    font-weight: 800;
}
.card a{
    color: #1c79e4;
    font-weight: 750;
    text-decoration: none;
}
.card a:hover{
    cursor: pointer;
}

.card-body{
}
.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0.5em;
    padding-bottom: 0.9em;
}
.tag{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    border: 1.5px solid gray;
    font-size: 0.8rem;
    font-weight: 750;
    padding: 0.6rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

}
.btn{
    margin-top: 5rem;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    :hover{
        background: rgba(0,118,255,0.9);
        box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
    }
}
h5{
    font-weight: 800;
    color: black;
}
h6{
    font-weight: 500;
    font-size: 0.85em;
}
.easy{
    color: green;
}