.container{
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 18rem;
    text-align: left;
}
.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tag{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    border: 1.5px solid gray;
    font-size: 0.8rem;
    font-weight: 750;
    padding: 0.6rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.btn{
    margin-top: 5rem;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    :hover{
        background: rgba(0,118,255,0.9);
        box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
    }
    
}
h5{
    font-weight: 800;
}
h6{
    font-weight: 700;
}
.easy{
    color: green;
}